<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <appSettings>
    <add key="GeoServiceEndpointAddress" value="http://localhost:8085/GeoPlacesDataService"/>
  </appSettings>

  <!-- WORK-->
  <!--<connectionStrings>
    <add name="GeoPlacesEntities" connectionString="metadata=res://GeoPlacesData/GeoPlacesModel.csdl|res://GeoPlacesData/GeoPlacesModel.ssdl|res://GeoPlacesData/GeoPlacesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=C1507;Initial Catalog=GeoPlaces;User ID=sa;Password=Adm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->


  <!-- HOME-->
  <connectionStrings>
    <add name="GeoPlacesEntities" 
         connectionString="metadata=res://GeoPlacesData/GeoPlacesModel.csdl|res://GeoPlacesData/GeoPlacesModel.ssdl|res://GeoPlacesData/GeoPlacesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VISTA01;Initial Catalog=GeoPlaces;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


</configuration>