<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="MusicLocationLookup"
             type="Sonic.MusicLocationLookupConfigSection, Sonic" />
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, &#xD;&#xA;                  System, Version=2.0.0.0, Culture=neutral, &#xD;&#xA;                  PublicKeyToken=b77a5c561934e089"

                                                   >
      <section name="Sonic.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, &#xD;&#xA;               System, Version=2.0.0.0, Culture=neutral, &#xD;&#xA;               PublicKeyToken=b77a5c561934e089"


               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Sonic.SonicSettings"
               type="System.Configuration.ClientSettingsSection, &#xD;&#xA;               System, Version=2.0.0.0, Culture=neutral, &#xD;&#xA;               PublicKeyToken=b77a5c561934e089"


               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>


  <connectionStrings>
    <add name="Sonic.Properties.Settings.MP3sConnectionString" connectionString="Data Source=VISTA01;Initial Catalog=MP3s;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
  <MusicLocationLookup>
    <MusicRepository>
      <!-- Add your MP3 directories here, my uses 1 or 2 top levels, your may be different-->
      <add musicLocationPath="E:\MP3's" />
    </MusicRepository>
  </MusicLocationLookup>  

  <userSettings>
    <Sonic.Properties.Settings>
      <setting name="ReReadAllFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AttemptToGainWebAlbumArt" serializeAs="String">
        <value>False</value>
      </setting>
    </Sonic.Properties.Settings>
  </userSettings>
</configuration>