<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="address" value="net.tcp://192.168.0.100:2222/snookerservice" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning,ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <trace autoflush="false" />
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="false"
        logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service behaviorConfiguration="MyBehavior" name="SnookerService.SnookerService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="DuplexBinding"
          contract="SnookerService.ISnooker" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior  name="MyBehavior">
          <serviceThrottling maxConcurrentSessions="10000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="DuplexBinding" sendTimeout="00:10:00" maxBufferPoolSize="2000000"
          maxBufferSize="2000000" maxReceivedMessageSize="2000000">
          <reliableSession enabled="true" />
          <security mode="None" />
          <readerQuotas maxArrayLength="2000000" maxBytesPerRead="2000000" maxStringContentLength="2000000" maxNameTableCharCount="2000000"></readerQuotas>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
